body {
	background: #20B2AA;
	font-family: 'Roboto', sans-serif;
}

.rounded {
	background: #008080;
	border-radius: 10px;
}

.flex {
	display: flex;
	justify-content: flex-start;
	padding-right: 2em;
}

.ul {
	flex-grow: 0.1;
}

svg rect {
 fill: green;
 }

svg text {
 fill: white;
 font: 1em sans-serif;
 text-anchor: right;
 }

.green {
	color: #20B2AA;
}

.white {
	color: white;
}

.grey {
	color: 	#D3D3D3;
}

h1.white {
	padding-left: 1em;
}

h2.green {
	padding-left: 4em;
	padding-top: 1em;
}

ul {
	list-style-type: none;
	line-height: 2em;
}

.histogram {
	padding-top: 1.5em;
}

.sum {
	color: #32CD32;
	padding-top: 5em;
	padding-left: 5em;
}
